@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');;
body
    {font-family: "Foundation", serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }

head {
  font-family: "Foundation", serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 100200;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 50px;
  padding: 70px;
}

 body {
  font-family: 'Foundation', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;

}

body
    {
    background-image:url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/animal-collage-4-john-rowe.jpg);
    background-size: cover;
    background-attachment:fixed;
    }
